.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.player-header {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
